@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    overflow: hidden;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

.rules {
  color: #fff;
  z-index: 1;
  margin-top: 12px;
  font-family: 'Special Elite', cursive;
  text-align: center;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#infos {
  position: absolute;
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

button {
    z-index: 1;
    padding: 10px;
    border: 1px solid #fff;
    color: #303030;
    background-color: aliceblue;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s;
}

.score-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 1;
  width: 100px;
  padding: 10px;
  border: 1px solid #fff;
  color: #303030;
  background-color: aliceblue;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.5s;
}

.timer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 1;
  width: 100px;
  padding: 10px;
  border: 1px solid #fff;
  color: #303030;
  background-color: aliceblue;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.5s;
}
